@media only screen and (max-width:1200px){
    .row{
        margin: 0 15px; 
        
        .hero-text-box{
            width: 50%;
        }
        .main-nav{
            width: 80%;
        }
    }
    .service-section, .team-section, .skill-section, .testmonial, .contact-section{
        height: auto;
    }
    .row .main-nav{
        
    }
    
}

@media only screen and (max-width:1024px){
    .service-section, .team-section, .skill-section, .testmonial, .contact-section{
        height: auto;
    }
    .hero-text-box{
        width: 80%;
    }
    .main-nav{
        display: none;
    }
    
    html{
        font-size: 57.5%;
    }
    
    .client-photo{
        width: 100%;
        float: none;
        text-align: center;
    }
    
    .client-review{
        width: 100%;
        float: none;
        text-align: center;
    }
    
    .contact-section form{
        width: 100%;
        margin-left: 0;
    }
    
    .mobile-menu span{
        display: block;
    }
    .mobile-menu span{
        margin-top: 2rem;
    }
}

@media only screen and (max-width:980px){
    .service-section, .team-section, .skill-section, .testmonial, .contact-section{
        height: auto;
    }
    .span_1_of_4{
        width: 49.2%;
    }
    
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    
    html{
        font-size: 62.5%;
    }
    .mobile-menu span{
        margin-top: 2rem;
    }
}

@media only screen and (max-width:768px){
    .service-section, .team-section, .skill-section, .testmonial, .contact-section{
        height: auto;
    }
    .litte-description{
        width: 100%;
        margin-left: 0;
    }
    
    .footer-section li a{
        font-size: 1.8rem;
    }
    .mobile-menu span{
        margin-top: 2.2rem;
        margin-right: 2.5rem;
    }
    #home .main-nav{
        width: 100%;

    }
   
    #home .gif2{
        width: 30%;
        margin-left: 40rem;

    }
    #home .hero-test-box{
        top:15rem;
        left: 6rem;
        display: grid;
        grid-template-columns: 1fr ;
          
    }
    #home h1{
        width: 300px;
        font-size: 2rem;
        color: rgb(59, 58, 58);
        
    }
    #home .hero-test-box hr{
        width: 14.8rem;
        height: .2rem; 
        margin-left: rem;
    }
    #home .element{
        margin-top: 20rem;
    }
    #home .hero-test-box .btn-work{
        margin-top: 5rem;
        padding: .4rem .5rem;
        width: 17rem;
        text-align: center;
       
    }
    
   
    
}
@media only screen and (max-width:560px){
  #home .gif2{
    display: none;
  }
  #home .element{
    margin-top: 40rem;
    padding-right:100px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
  }
  #home .element .e3{
    margin-left: -3rem;
  }
  .mobile-menu span{
    margin-top: 2.5rem;
    
}

}

@media only screen and (max-width:480px){
    .service-section, .team-section, .skill-section, .testmonial, .contact-section{
        height: auto;
    }
    .span_1_of_4{
        width: 100%;
    }
    
    h1{
        font-size: 2.5rem;
    }
    
    h2{
        font-size: 2rem;
    }
    .portfolio-filter button{
        margin-bottom: .8rem;
    }
    .mobile-menu span{
        margin-top: 2rem;
        margin-right: 2rem;
    }
    
    #home  .gif2{
        display: none;
    }
    #home .hero-test-box{
       width: 70%;
        top:15rem;
        left: 6rem;
        display: grid;
        grid-template-columns: 2fr;
          
    }
    #home h1{
        text-align: justify;
        width: 35.5rem;
        font-size: 2rem;
        color: rgb(59, 58, 58);
        
    }
    #home .hero-test-box hr{
        width: 14.8rem;
        height: .2rem; 
        margin-left: rem;
    }
    
    #home .hero-test-box .btn-work{
        margin-top: 5rem;
        padding: 1rem .5rem;
        width: 17rem;
        text-align: center;
       
    }
    
   
    #home .element{
        float: left;
        position: absolute;
        margin-top: 33rem; 
        font-size: 2.5rem;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 3.5rem;
        justify-content: center;
        text-align: center;
        margin-left: 2rem;
        
       
    }
    .element .e1, .e2, .e3, .e4{
       position: relative;
       margin-left: 0%;
    }
    
    
    .element p{
        margin-left: 0%;
        align-items: center;
    }
    .mobile-menu span{
        margin-top: 2.5rem;
        font-size: 3rem;
    }
   
    
}